body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0;
} h1 {
  text-align: center;
} main {
  display: flex;
  justify-content: center;
} .content {
  display: flex;
  flex-direction: column;
} form {
  display: flex;
  flex-direction: column;
} .wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: .4;
  }.modal {
  position: relative;
  margin: auto;
} #badGuess {
  display: none;
  color: red;
} img {
  height: 90vh;
  width: auto;
}
